/*----- FOOTER -----*/
footer{
    background-color: var(--greyBase);
}
.footer-container{
    display: flex;
    padding: 5px;
    align-items: center;
    justify-content: space-between;
}
/*----- FOOTER -----*/
.footer-container > .footer-logo{
    display: flex;
    padding: 0 10px 0 10px;
}
.footer-logo img{
    width: auto;
    height: 60px;
    margin: 10px;
}
/*----- COPYRIGHT -----*/
.footer-container p{
    text-align: center;
    font-size: 0.9rem;
    color: var(--whiteBase);
}
/*----- REDES -----*/
.networks{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.networks ul{
    display: flex;
    justify-content: space-between;
    margin: 10px;
}
.networks ul li{
    margin: 0 10px;
    padding: 10px;
    cursor: pointer;
}
.networks ul li a{
    color: var(--whiteBase);
    font-size: 1.8em;
}
.networks ul li:hover a{
    color: var(--orangeBase);
}