:root{
    --color1: #010101;
    --color2: #ffffff;
    --color3: #ff9933; /*rgb(255, 153, 51)*/
    --color4: #001fcf;
    --color5: #191a30;
    
    --colorFonds: #000000;
    --colorCompl: #1c1c1c;
    --colorButtn: #ff9934;
    --colorHover: #ff8000;
    --colorTexts: #ffffff;
}
*{
    margin: 0;
    padding: 0;
    list-style: none;
    user-select: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
/*----- SLIDER -----*/
.section-slider{
    position: relative;
    display: flex;
    width: 100%;
    height: 100vh;
}
.section-slider > .wrapper-slider{
    position: relative;
    display: none;
    width: 100%;
    height: 100%;
    justify-content: center;
}
/*----- Img -----*/
.wrapper-slider > .image-slider{
    height: 100%;
    width: 100%;
    background-size: cover;
    -webkit-background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
.image-slider.landscape {
    background-image: url('../img/landscape\(1\).jpg');
}
.image-slider.flowers {
    background-image: url('../img/flowers\(1\).jpg');
}
.image-slider.insect {
    background-image: url('../img/insect\(4\).jpg');
}
.image-slider.social {
    background-image: url('../img/social\(2\).jpg');
}
/*----- Txt -----*/
.wrapper-slider > .content-slider{
    position: absolute !important;
    top: 0;
    left: 0;
    color: var(--color1);
    text-align: center;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.content-slider > .head-slider{
    font-size: 50px;
    line-height: 80px;
    letter-spacing: -1px;
    display: block;
    text-align: center;
    width: 100%;
    margin: 0;
}
.content-slider > .subhead-slider{
    font-size: 20px;
    text-align: center;
    font-weight: 300;
}
/*----- Btn -----*/
.content-slider > .buttons{
    position:relative;
    padding-top: 30px;
    letter-spacing: 0.5px;
}
.buttons > .button{
    display: inline-block;
    padding: 8px;
    margin: 0 0 0 0;
}
.buttons > .transparent a{
    padding: 9px 10px;
    border: 2px solid var(--color1);
}
.button a{
    color: var(--color1);
    letter-spacing: 2px;
    font-size: 12px;
    display: block;
}
/*----- ARROWS -----*/
.arrow{
    padding: 30px;
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin: -40px 70px 0px 70px;
    color: var(--color1);
    font-size: 20px;
    font-weight: bold;
    user-select: none;
    -webkit-user-select: none;
}
.arrow p{
    transform: scale(2,3.5);
    font-family:'Lucida Sans';
}
.left{
    border: 1px solid transparent;
    color: var(--color1);
    opacity: 0.6;
    transition: 0.4s;
}
.right{
    right: 0;
    border: 1px solid transparent;
    color: var(--color1);
    opacity: 0.6;
    transition: 0.4s;
}
.left:hover{
    transition: 0.4s ease-in-out;
    margin-left: 60px;
    opacity: 0.9;
    text-shadow: 0 0 5px var(--color2);
}
.right:hover{
    transition: 0.4s ease-in-out;
    margin-right: 60px;
    opacity: 0.9;
    text-shadow: 0 0 5px var(--color2);
}
/*----- MOBILE -----*/
@media screen and (max-width: 900px) {
    .arrow{
        padding: 30px;
        margin: -40px 30px 0px 30px;
        font-size: 15px;
    }
    .left:hover{
        transition: 0.4s ease-in-out;
        margin-left: 20px;
        opacity: 0.9;
        text-shadow: 0 0 5px var(--color2);
    }
    .right:hover{
        transition: 0.4s ease-in-out;
        margin-right: 20px;
        opacity: 0.9;
        text-shadow: 0 0 5px var(--color2);
    }
}
@media screen and (max-width: 620px) {
    .arrow{
        padding: 30px;
        margin: -40px 5px 0px 5px;
        font-size: 15px;
    }
    .left:hover{
        margin-left: 10px;
        opacity: 0.9;
        text-shadow: 0 0 5px var(--color2);
    }
    .right:hover{
        margin-right: 10px;
        opacity: 0.9;
        text-shadow: 0 0 5px var(--color2);
    }
}
/*----- ANIMATIONS -----*/
.ani-slider{
    animation-name: fade;
    animation-duration: 1.5s;
}
@keyframes fade{
    from {opacity: .4}
    to {opacity: 1}
    /*
    from {transform: translateX(0%);}
    from {transform: translateX(100%);}
    */
}

/*----- MIDDLE HOME -----*/
.image-home.travel {
    background-image: url('../img/landscape\(2\).jpg');
}
.image-home.author {
    background-image: url('../img/flowers\(2\).jpg');
}
.image-home.nature {
    background-image: url('../img/insect\(3\).jpg');
}
.image-home.abstract {
    background-image: url('../img/social\(1\).jpg');
}

.content-home{
    background-color: var(--colorFonds);
    display: flex;
    align-items: center;
}
.container-home{
    color: var(--colorTexts);
}